
body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
}

header.hero {
    text-align: center;
    padding: 4rem 1rem;
    background-color: #1e1e1e;
}

.highlight {
    color: #fdd835; /* Yellow accent */
}

.projects, .badges, .footer {
    padding: 2rem 1rem;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: #fdd835;
    border-bottom: 2px solid #fdd835;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.project-card {
    background: #222;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.project-card a {
    color: #fdd835;
    text-decoration: none;
}

.badge-grid {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.badge {
    background-color: #333;
    border: 1px solid #fdd835;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: #fdd835;
}

.footer {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #444;
}

.footer .links a {
    margin: 0 1rem;
    color: #fdd835;
    text-decoration: none;
}

.project-title {
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    color: #fdd835;
}
.project-text {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    margin-top: 0.5rem;
    max-width: 1000px;
    text-align: left;
    margin-left: auto;    /* Center horizontally */
    margin-right: auto;   /* Center horizontally */
}
.project-image {
    max-width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.newtest {
    background-color: #14fe00;
    border-color: #ff00ff;
}
.newtest:hover {
    background-color: #ff0000;
    border-color: #ff00ff;
}

.btn-primary {
    background-color: #fdd835; 
    color: #000000; 
    border-color:#fdd835;
}

